.btn {
  transition: background-color .5s ease, color .5s ease;
}

.section-title {

}

.section-sub {
  font-weight: 300;
  font-size: 1.5rem;
}

.text-white { color: $gray-lightest; }
.input-group-addon { line-height: 1.5; }