body {
  height: 200vh;
}
.index-jumbotron {
  text-align: center;

  .jumbotron-content {
    position: absolute;
    @include media-breakpoint-up(md) {
      height: 500px;
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
    top: 0;
    left: 0;
    width: 100%;

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;

    }
  }

  .video-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    @include media-breakpoint-up(md) {
      height: 500px;
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background: rgba(230, 230, 230, .7);
  }
  .video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    @include media-breakpoint-up(md) {
      height: 500px;
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
    width: 100%;
    overflow: hidden;

    video {
      width: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}