#topNav {

  z-index: 3;
  width: 100%;

  &.navbar-fixed {
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
  }

  &.navbar-absolute {
    position: absolute;
    top: 50px;
    background-color: transparent;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;
  }

  .navbar-logo {
    width: 200px;
    margin: 20px 0;
    img {
      height: 40px;
    }
  }

  .navbar-nav {

    ul {

      padding: 0;
      margin: 0;

      li {

        display: inline-block;

        a {

          text-transform: uppercase;
          display: block;
          padding: 2.3rem .5rem;
          font-size: 14px;
          text-decoration: none;
          font-weight: 700;
          color: $gray;

          &:hover {
            color: $gray-light;
          }

          &.active {

          }
        }

      }
    }
  }
}